extends layout

block content
  h1= title
  p Welcome to #{title}
  a(class='button' href='/users') User Summary 
  p
  form(method='POST' action='/users/new')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='favoriteBook') Favorite Book:
            input#favoriteBook.form-control(type='text', placeholder='title of book' name='favoriteBook')
          div.form-group
            if passwordValid
              label(for='pw') Password:
            else
              label(for='pw') <mark> Password:</mark>
            input#pw.form-control(type='password' name='password')
          div.form-group
            if passwordValid
              label(for='pw2') Confirm Password:
            else 
              label(for='pw2') <mark>Confirm Password: </mark>
            input#pw2.form-control(type='password' name='confirmPassword')
          button.btn.btn-primary(type='submit') Sign up
          if !passwordValid
            h2 Passwords Don't Match. Please Try Again.



